body {
	background: url("../img/bg.png") no-repeat top center #ff35a4;
}

a.instant {
	position: absolute;
	height: 218px;
	width:  31%;
	display: block;
	top: 0;
	right: 0;
}

.no-mobile {
  	display: block;
  }

.bg-1 {
	background-color: #55bfcf
}
.container {
  margin: 30px auto 0 auto;
  padding: 0 15px auto 15px;
  width: 80%;
  max-width: 850px;
  border-radius: 3px;
}

.main-menu {
	background: #f60087;
	margin: 0;
}

.content {
	padding: 40px 40px 10px 40px;
	background: #ffffff;
	margin-bottom: 70px;
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.header {
	margin: 50px 0 0 0;
	background: url("../img/call-police.png") no-repeat bottom -8px right 0;
	min-height: 220px;
	position: relative;
}

.main-menu {
	border-bottom: 3px solid #d31158;
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.main-menu ul li a{
	background: #f60087;
	border-right: 1px solid rgba(255,255,255,0.5);
	padding: 15px 10px 10px;
	min-height: 60px;
	font-size: 12px;
	z-index: 2;
	text-transform: uppercase;
	color: #ffffff;
	line-height: 1.4;
	font-weight: 700;
}

.main-menu ul li a:hover{
	background: #ffd400;;
	color: #ffffff;
}

.main-menu ul li:last-child a{
	border-right: none;
	background: #ffd400;;
	color: #ff35a4;
	font-weight: bolder;
}

.main-menu ul li.current a{
	background: #ffd400;
	color: #f60087;
}

/* ABOUT CONTENT */

.about-content h1,
.about-content h2 {
	font-size: 24px;
	color: #00caff;
	font-weight: bold;
}

.about-content h1 {
	margin-bottom: 30px; 
}
.about-content h2 {
	font-size: 18px;
}
.about-content p,
.about-content ul li{
	font-size: 14px;
	color: #f60087;
}

/* RESPECTEZ LA LOUA CONTENT */

.respect-content h1,
.respect-content h2 {
	font-size: 24px;
	color: #00caff;
	font-weight: bold;
}

.respect-content h1 {
	margin-bottom: 15px; 
	padding-bottom: 15px; 
	border-bottom: 1px solid #f60087;
}
.respect-content h2 {
	font-size: 18px;
	font-weight: lighter;
	font-style: italic;
}
.respect-content p,
.respect-content ul li{
	font-size: 14px;
	color: #f60087;
}

/* POILS CONTENT */

.poil-content h1,
.poil-content h2 {
	font-size: 24px;
	color: #00caff;
	font-weight: bold;
}

.poil-content h1 {
	margin-bottom: 15px; 
}
.poil-content h2 {
	font-size: 18px;
	font-style: italic;
}
.poil-content p,
.poil-content ul li{
	font-size: 14px;
	color: #f60087;
}

.poil-dru p,
.poil-dru h1,
.poil-dru h2 {
	color: #00caff;
}

.poil-frise p,
.poil-frise h1,
.poil-frise h2 {
	color: #f60087;
}

.poil-incarne p,
.poil-incarne h1,
.poil-incarne h2 {
	color: #ff4e00;
}

.poil-rebelle p,
.poil-rebelle h1,
.poil-rebelle h2 {
	color: #CCAF10;
}

/* CONTENT BANDES CIRE */
 
.menu-bandes {
	padding: 40px 0;
	position: relative;
	background-image: url('../img/menu-bande.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #464646;
}

.menu-ld {
	padding: 100px 0 30px;
	background-image: url('../img/ld-slider.jpg');
}

.menu-poil {
	padding: 0;
	background-image: url('../img/poil-slider.jpg');
	background-position:  top left;
}

@keyframes bounce{
     from {top: 10px;}
     to   {top: -20px;}
}

@keyframes bounceh{
     from {right: 20px;}
     to   {right: -20px;}
}

.menu-bandes a {
	position: relative;
}

.menu-bandes a:hover {
	animation: bounce 0.35s ease infinite alternate;
}

.menu-poil a:hover {
	animation: bounceh 0.35s ease infinite alternate;
}
.bande-content h1,
.bande-content h2 {
	font-size: 20px;
	text-transform: uppercase;
	color: #ff009f;
	font-weight: normal;
}

.bande-content h1 {
	margin-bottom: 30px; 
}
.bande-content h2 {
	font-size: 16px;
	font-weight: bold;
}
.bande-content p {
	font-size: 13px;
	color: #ff009f;
}

.ld-content h1 {
	margin-bottom: 20px; 
	text-transform: none;
	font-weight: 700;
}

.ld-link {
	color: #ff009f;
	font-weight: bold;
}


/* Footer */

.footer {
	border-top: 2px solid #e61a6c;
	padding: 20px 0 0 0;
}

.footer div a{
	font-weight: bold;
}
.footer div a:hover{
	opacity: 0.7;
}

.footer div:nth-child(1) a{
	color: #28c4d0;
}
.footer div:nth-child(2) a{
	color: #d02864;
}
.footer div:nth-child(3) a{
	color: #f86000;
}

.social-titre {
	margin: 0 0 5px 0;
}

.temoins {
	background: url('../img/temoins-fond.png') #e61a6c no-repeat center left;
	color: #fff229;
	padding: 0 0 0 18%;
	border-radius: 5px;
}

.temoins h4 {
	color: #fff229;
	text-transform: uppercase;
	font-size: 22px;
	margin: 20px 0;
	line-height: 27px;
}

.bloc-temoin {
	background: #f8bbda;
	height: 120px;

}

.bloc-temoin p{
	color: #ee1590;
	font-size: 11px;
	padding: 10px 15px;
}

.facebook-contest {
	background: #224b9a;
	padding: 24px 30px;
}

.rounded {
	border-radius: 5px;
}

.h-video {
	box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);	
}
.h-video:hover {
	box-shadow: 0 0px 8px rgba(237, 17, 143, 0.8);	
}

/* GAME CONTENT*/

.game-slider {
	background: #ff0086;
	padding: 20px 40px;
}

.game-form {
	/*border: 1px solid #ee1590;*/
	padding: 20px 0;
}

.pink {
	color: #ee1590;
}

.game-form h2{
	color: #ee1590;
	font-size: 18px;
	margin: 0 0 15px 0;
}

.menu-game a{
	color: #ffffff;
	padding: 18px 15px;
	border-radius: 3px;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
}

.menu-game a:hover{
	opacity: 0.8;
	text-decoration: none;
}

.orange {
	background: #ff7226;
}

.bleu {
	background: #00d4ff;
}

.input{
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #f60087;
}

.input:focus{
    color: #f60087;
    border: 1px solid #f60087;
}

.btn-form {
	-moz-box-shadow: 0px 2px 0px 0px #dadada;
	-webkit-box-shadow: 0px 2px 0px 0px #dadada;
	box-shadow: 0px 2px 0px 0px #dadada;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f2f2f2));
	background:-moz-linear-gradient(top, #ffffff 5%, #f2f2f2 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f2f2f2 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f2f2f2 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f2f2f2 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f2f2f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dadada;
	display:inline-block;
	cursor:pointer;
	color:#f60087;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 23px;
	text-decoration:none;
}
.btn-form:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f2f2f2 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f2f2f2 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f2f2f2 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f2f2f2 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f2f2f2 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0);
	background-color:#f2f2f2;
	text-decoration:none;
}
.btn-form:active {
	position:relative;
	top:1px;
}

.btn-acc {
	font-size:12px;
	font-weight:bold;
	display: block;
	margin: 0 auto;
	width: 70px;
	padding:3px 15px;
}

.logo-home:hover {
	opacity: 0.8;
}

.add-legfie h2{
	font-size: 20px;
	color: #ee1590;

}

.galery li {
	width: 32%;
	margin-right: 2%;
	float: left;
	list-style: none;
	margin-bottom: 20px;
}

.galery li:nth-child(3n) {
	margin-right: 0;
}

.legfie-img img{
    border-color: #fff;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 10px 10px 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.legfie-img a{
	position: relative;
	display: block;
}

.legfie-img span{
	position: absolute;
	bottom: 10px;
	left: 20px;
	font-weight: bold;
	letter-spacing: 4px;
	color: #CE332D;
	font-size: 15px;
}


.legfie-img-2 img{
    border-color: #fff;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 6px 6px 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.legfie-img img:hover,
.legfie-img-2 img:hover{
	opacity: 0.70;
}

.likes {
	color: #55bfcf;
	font-weight: bold;
}

.likes strong{
	font-size: 22px;
}

.likes h3 {
	color: #55bfcf;
	font-size: 30px;
	margin: 0px;
	text-transform: uppercase;
}

#vote,
#vote strong {
	font-size: 14px;
}

.galery-titre {
	background: #00d4ff;
	padding: 20px 60px;
	margin: 0 -40px;
}

.galery-titre a{
	margin: 0 0 0 30px;
	float: right;
}

.login-content h2{
	color: #F6008C;
	font-size: 22px;
}

.share-btn a,
.share-btn img{
	margin-right: -2px;
}

.share-btn a:hover {
	opacity: 0.8;
}

.men h1,
.men p,
.men .ld-link{
	color: #003867;
}

@media only screen and (max-width: 767px) {
  body {
  	background: #ff35a4;
  	background-image: none;
  }

  .bg-1 {
  	background-color: #55bfcf
  }

  a.instant {
  	display: none;
  }
  .container {
    width: 100%;
  }
  .no-mobile {
  	display: none;
  }

  .header {
	background: none;
  }

  .cols-row .social-25 {
  	width: 25%;
  	float: left;
  	margin-bottom: 0;
  }

  .content {
	padding: 15px 15px 1px 15px;
	margin-bottom: 0;
  }

  .menu-bandes,
  .menu-poil,
  .menu-ld{
	background: none;
	text-align: center;
	border-bottom: 2px solid #ff35a4;
	border-radius: 0;
  }


  .galery li {
  	width: 100%;
  	margin-right: 0;
  	float: left;
  	list-style: none;
  	margin-bottom: 20px;
  }

  .galery li:nth-child(3n) {
  	margin-right: 0;
  }

  .legfie-img span{
	bottom: 10px;
	left: 50%;
	}
}


.pagination li a:focus, .pagination li a:hover{
	background-color: #00D4FF;
};